@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --primary-color: #333;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
}
p{
    margin: .75rem 0;
}
textarea{
    resize: none;
}
/*UTITLITY CLASSES*/
.container {
    max-width: 1100px;
    margin: 0  auto;
    padding: 0 2rem;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: var(--primary-color);
}
.text-justify{
    text-align:justify;
}
.bg-light{
    color: #F4F4F4;
    color: #333;
}
.bg-dark{
    background: #333;
    color: #FFF;
}
.btn{
    display: inline-block;
    color: #333;
    background: white;
    padding: .5rem 2rem;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
/*    border-radius: 5px;*/
/*    transition: background  .3s;*/
}
.bold{
    font-weight: bolder;
}
.btn.btn-dark{
    background: #333;
    color: white;
}
.btn:hover{
    background: #CCC;
    color: #333;
    cursor: pointer;
}
.py-1{
    padding: 1.5rem 0;
}
.py-2{
    padding: 2rem 0;
}
.py-3{
    padding: 3rem 0;
}

.p-1{
    padding: 1.5rem;
}
.p-2{
    padding: 2rem;
}
.p-3{
    padding: 3rem;
}
.mx-2{
    margin-top: 2rem; 
}
.m-r-half{
    margin-right: 0.5rem;
}
.l-heading{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 1.1;
    color: #333;
}
.m-heading{
    font-size: 2rem;
    margin-bottom: .75rem;
    line-height: 1.1;
    color: #333;
}
.lead{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #333;
    font-weight:normal;
}
.sub-fonts{
    font-size: 1.1rem;
    color: #888;
    font-weight: normal;
}
.divide{
    background: #ddd;
    height: 0.1rem;
}
.footer{
    display: flex;
    background: Black;
    color: white;
    height: 3rem;
    flex-direction: column;
    align-items: center;
}
/******************************HEADER*******************************/
#header .Nav-Bar{
    box-sizing: border-box;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: white;
    height: 3.5rem;
    width: 100%;
    padding: 2px 5px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 20px 0 20px 2px #000;
}
#header .Nav-Bar .list{
        display: flex;
        list-style: none;
}

/******************************ARCHITECT-SECTION*******************************/
#architect .company{
    background: #333 url(C:\Users\Pratham\Documents\git_projects\Architect Webiste\images\architect.jpg) no-repeat center center;
    background-size:cover;
    height: 100vh;
    margin: 0 15px;
}
#architect .company .content{
    display: flex;
    font-size: 3rem;
    height: 100%;
    letter-spacing: 0.5rem;
    flex-direction: column;
    justify-content: center;
    color: white;
}
#architect .company .content span{
    background: rgba(0,0,0,.7);
    padding: 1rem 1rem;
}

/******************************Projects-SECTION*******************************/
#projects{
    padding: 50px 30px;
}
#projects .houses{
    margin-top: 2rem;
     display: flex;
    flex-wrap: wrap;
}
#projects .houses .house>img{
    width: 364px;
    padding: 0.5rem 0.5rem;
    position: relative;
}
#projects .houses .house .check{
    z-index: 1111;
    position: absolute;
    background: black;
    color: white;
    font-weight: normal;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    margin: 8px 8px;
}
/******************************ABOUT-SECTION*******************************/

#about{
    padding: 50px 30px;
}
#about .profiles{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}
#about .profiles .event>img{
    width: 364px;
     padding: 0.5rem 0.5rem;
    filter: grayscale(70%);
}
#about .profiles .event-content{
    padding:10px;
    background: white;
    color:#333;
    width: 364px;
}
#about .profiles .event-content>.button{
    text-align: center;
    padding: 10px 140px;
    width: 364px;
    border: none;
}
#about .profiles .event-content>.button:hover,#about .profiles .event-content>.button:link{
    background-color: #BBB;
    cursor: pointer;
}
#about .profiles .event-content>.button:active{
 border: #333 2px solid;
}
/******************************CONTACT-SECTION*******************************/
#contact{
    padding: 50px 30px;
}
#contact h4{
    margin-top: 2rem;
    font-size: 1rem;
    color: #444;
}
#contact .form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
#contact .form input{
    margin-top: 0.7rem;
    padding: 0.7rem 0.5rem;
    border: solid 1px #CCC;
}
#contact .send{
    padding: 0.6rem 1.3rem;
    background: black;
    color: white;
    border: none;
    text-transform: uppercase;
}
#contact .send:hover{
    background: #DDD;
    color: black;
}
#contact .map>img{
    width: 91.3rem;
}
::selection {
    background: rgba(0,0,0,.6);
    color: #FFF;
}
/******************************HEADER*******************************/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0  0 6px rgba(0, 0, 0, .2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(A,A,A, .6);
}
/******************************MEDIA-QUERIES*******************************/
@media(max-width: 550px){
    #header ul li{
        display: none;
    }
    #architect .company .content>p{
        font-size: 1.2rem;
    }
    #projects .houses .house>img{
        width: 100%;
    }
    #about .profiles .profile img{
        width: 100%;
    }
    #about .profiles .event-content>.button{
        width: 410px;
    }
    #contact .map>img{
        width: 100%;
    }
}
